{% extends 'base.html' %}
{% block menu %}
    <li><a href="{% url 'add_list' %}" class="action-btn">+ Add List +</a></li>
    <li class="nav-item dropdown">
    </li>
    <li>
        <form action="{% url 'index' %}" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form></li>
{% endblock %}

{% block content %}
        <div class="home_div">
            {% for list_g in lists %}
                <div class="boss_div">
                    <h2>{{ list_g.name }}</h2>
                    <p>{{ list_g.email }}</p>
                    <p>{{ list_g.text }}</p>
                    <a href="{% url 'delete_list' list_g.pk %}" class="action-btn">Delete</a>
                    <a href="{% url 'update_list' pk=list_g.pk %}" class="action-btn">Edit</a>
                </div>
            {% endfor %}
        </div>
{% endblock %}
