{% extends 'base.html' %}
{% block title %}List{% endblock %}
{% block menu %}
    <li><a href="{% url 'update_list' list.pk %}" class="action-btn">Edit</a></li>
    <li><a href="{% url 'delete_list' list.pk %}" class="action-btn">Delete</a></li>
{% endblock %}
{% block content %}
    <h3>Description: {{ list.name }}</h3>
    <p class="for_text">Text: {{ list.text }}</p>
    <p>Status: <b>{{ list.status }}</b>, Date of add: <b>{{ list.created_at }}</b>,
        Date of update: <b>{{ list.updated_at }}</b></p>
{% endblock %}